
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: sans-serif;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
	overflow: hidden;
	background: #080f13; /* entire image */ 
}

.flipbook {
    width: 1000px;
    height: 600px;
}


.flipbook .hard {
    background: #000000 !important; 
    color: #ffffff;
    font-weight: bold;
    border: none; 
 
}


.flipbook .page {
    background: #f1e9d2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    font-size: 24px;
}

.page img{
	width: 70%;
	object-fit: cover;
	margin: auto;
}

.flipbook .page small{
	font-size: 14px;
    margin-bottom: 10px;
}